body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  height: 100vh;
  transition: filter 0.3s ease;
  width: 100%;
}

.app-container.blurred {
  filter: blur(5px);
}

.sidebar {
  width: 350px;
  background-color: #fff;
  flex-shrink: 0;
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.task-list, .tracking-list {
  list-style: none;
  padding: 0;
}

.task-list li, .tracking-list li {
  margin-bottom: 10px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calendar, .tasks, .tracking, .categories, .comments {
  margin-bottom: 20px;
}

.focus-timer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.focus-timer {
  background-image: url('./assets/beach.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}