.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
  }
  
  .dashboard-header input[type="text"] {
    width: 350px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    color: #000;
    background-color: rgb(225, 225, 225);
  }
  
  .dashboard-header .new-task {
    background-color: #ffc700;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    font-size: 15px;
    color: black;
    cursor: pointer;
    font-weight: bold;
  }
  
  .main-content {
    display: flex;
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .left-column, .middle-column, .right-column {
    flex: 1;
    margin-right: 20px;
  }
  
  .middle-column {
    flex: 2;
  }
  
  .right-column {
    flex: 1.5;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  